.kaomoji-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 175, 189, 0.7);
    width: 50vw;
    border-radius: 0.5em;
    margin: 1.5em;
    padding: 1em;
}

.kaomoji-menu .kaomoji-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.kaomoji-menu .kaomoji-container .kaomoji {
    margin: 5px;
    padding: 5px 5px;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: rgba(138, 138, 138, 0.02);
    transition: font-size 0.3s;
}