/* kaomoji-menu */
.kaomoji-menu {
    display: flex;
    position: absolute;
    right: 5%;
    bottom: 15%;
    width: 40%;
    height: 40%;
    font-size: small;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(200, 175, 189, 0.95);
    border-radius: 0.5em;
    margin: 1.5em;
    padding: 1em;
    box-shadow: 0 0 5em 0.5em rgba(0, 0, 0, 0.164);
}

.kaomoji-menu .kaomoji-title {
    display: flex;
    font-size: large;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    padding: 0.3em;
    background-color: rgba(191, 154, 175, 0.95);
    box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.208);
}

.kaomoji-menu .kaomoji-title-text {
    display: inline;
    width: calc(4em);
    text-align: center;
    margin-left: 1%;
    cursor: pointer;
    margin: 0;
    padding: 0.3em;
    border-radius: 0.3em;

    transition: all 0.3s ease;
}

.kaomoji-menu .kaomoji-title-text:hover {
    background-color: rgba(175, 128, 155, 0.95);
}

.kaomoji-menu .kaomoji-title-text-active {
    background-color: rgba(175, 128, 137, 0.95);
}


.kaomoji-menu .kaomoji-title-close {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.kaomoji-menu .kaomoji-title-close svg circle {
    display: block;
    /* 确保SVG元素填充按钮的整个空间 */

    transition: all 0.3s ease;
}
.kaomoji-menu .kaomoji-title-close svg circle:hover {
    fill: rgba(100, 8, 25, 0.95);
}


.kaomoji-menu .kaomoji-container {
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.kaomoji-menu .kaomoji-container .kaomoji {
    margin: 5px;
    padding: 5px 5px;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: rgba(138, 138, 138, 0.02);
    transition: all 0.3s ease;
}

.kaomoji-menu .kaomoji-container .kaomoji:hover {
    cursor: pointer;
    background-color: rgba(138, 138, 138, 0.35);
}



/* 滚动条 */
.kaomoji-menu .kaomoji-container::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vh;
}

/* 滚动条-轨道 */
.kaomoji-menu .kaomoji-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    border-radius: 8px;
}

.kaomoji-menu .kaomoji-container::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}



/* 滚动条-滑块 */
.kaomoji-menu .kaomoji-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #e4e4e4;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
}

.kaomoji-menu .kaomoji-container::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.kaomoji-button {
    display: inline;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 2.5vh;
    height: 2.5vh;
    align-items: center;
    background-color: rgba(200, 175, 189, 0.251);
    border-style: none;
    border-radius: 50%;
    padding: 0.5vh;

    transition: width 0.3s, height 0.3s, background-color 0.3s ease;
    transform-origin: center center;
}

.kaomoji-button:hover {
    width: 4vh;
    height: 4vh;
    background-color: rgba(215, 133, 181, 0.95);
}



.ChatMessageLocalMessage .trance-message {
    background-color: rgba(215, 133, 181, 0.95);

}

.ChatMessageLocalMessage .trance-message {
    padding: 0.5em;
    margin: .5em;
    border-radius: 0.8em;

    color: rgb(178, 140, 200);
    font-size: 2.5em;
    font-style: italic;
    vertical-align: middle; /* 垂直居中 */
    min-height: 3em;
    height: auto;
    line-height: 1.2;
    background: linear-gradient(to right, rgba(208, 106, 255, 0.25), rgba(255, 59, 78, 0.25));
    filter: blur(1px);

    animation: circleAnimation 20s ease-in-out infinite; /* 持续时间5秒，线性运动，无限循环 */

    transition: all 0.3s ease;
}
.ChatMessageLocalMessage .trance-message:hover {
    color: rgb(47, 32, 56);
    background: linear-gradient(to right, rgba(208, 106, 255, 0.511),rgba(255, 59, 79, 0.538));
    animation-play-state: paused;
}

@keyframes circleAnimation {
    0% {
        transform:translateX(0) rotate(0deg);
        filter: blur(1px);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    25% {
        transform:translateX(-10px) rotate(-2deg);
        filter: blur(.5px);
    }
    75% {
        transform:translateX(10px) rotate(1deg);
        filter: blur(3px);
        opacity: 0.9;
    }
    90% {
        opacity: 0.3;
        filter: blur(10px);
    }
    100% {
        transform:translateX(0) rotate(0deg);
        filter: blur(1px);
        opacity: 0.0;
    }
}